// Specific CSS for your home-page
body {
  background-color: white;
  color : #092836;
}

.lead {
  color: #05176A;
}

a {
  color: #05176A;
}

.first {
  color: #100338;
  font-weight: bold;
}

.second {
  color: #100338;
  font-weight: bold;
}
