.banner {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4),rgba(245, 245, 245, 0.4)), url(https://images.unsplash.com/photo-1504251344725-6f13ec70b5ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1502&q=80);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(80vh - 101px);
  padding: 170px;
}

.banner {

  h1 {
    font-weight: bolder;
  }

  .lead {
    font-weight: bold;
  }
}
